<div mdbModal #deleteModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="deleteLabel"
  aria-hidden="true">
  <div class="modal-dialog  modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-body">
        Do you confirm deletion?
      </div>
      <div class="modal-footer">
        <button type="button" mdbBtn color="warning" size="sm" class="relative waves-light mx-auto" mdbWavesEffect
          (click)="confirm()"> Yes </button>
      </div>
    </div>
  </div>
</div>
